<%- include("partials/header"); -%>
    <h1>Delete</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Enter The Title You Want To Delete</label>
        <input class="form-control" type="text" name="postTitle">
      </div>
      <button class="btn btn-outline-dark" type="submit" name="button">Delete</button>
    </form>

<%- include("partials/footer"); -%>
